body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 88px 0;
}

main section .sub-section img {
    width: 90px;
    height: 36px;
}

img {
    max-width: 536px;
    height: 840px;
}