body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.header a {
    text-decoration:underline;
    color: black;
    padding: 15px;
    font-size: 20px;
    transition: color 1s;
}

.header a:hover {
    color: dodgerblue;
}

.content {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

img {
    height: 200px;
    max-width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: dodgerblue;
    border-radius: 50%;
    padding: 12px;
}

.content p {
    font-size: 30px;
}

button {
    padding: 15px;
    background-color: dodgerblue;
    border: none;
    font-size:24px;
    transition: color 1s;
}

button:hover {
    color: white;
}

.about-section p {
    margin-top: 1px;
}

