body {
    font-family: "Alata", sans-serif;
    margin: 0;
    position: relative;
    top: 91px;
    background-color: #9095A1;
}

header h1 {
    text-align: center;
    color: #F2D95E;
    font-size: 64px;
    margin: 0;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 107px 97px 167px 97px;
}

section .content {
    background-color: #FFFFFF;
    width: 386px;
    height: 261px;
    padding: 23px;
    border: none;
    border-radius: 18px;
    margin-right: 44px;
    position: relative;
}

section .content:last-of-type {
    margin-right: 0;
}

section .content p {
    font-size: 18px;
    margin: 0;
}

section .bottom-right-content {
    position: absolute;
    bottom: 22px;
    right: 23px;
}

@media screen and (max-width: 768px) {
    body {
        top: 77px;
    }

    header h1 {
        font-size: 50px;
    }

    section {
        display: block;
        margin-top: 67px;
        margin-bottom:69px;
    }

    section .content {
        margin-bottom: 46px;
    }

    section .content:nth-of-type(2) {
        margin-bottom: 55px;
    }

    section .content:last-of-type {
    margin-bottom: 0;
}

    footer {
        width: 611px;
    }
}

footer {
    border-top: 2px solid #F2D95E;
    width: 1246px;
    margin: auto;
}

footer .icons {
    width: 246px;
    height: 46px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    fill: #F2D95E;
}

footer .icons img {
    width: 46px;
    height: 46px;
}



