body {
    font-family: "Alata", sans-serif;
    margin: 0;
    position: relative;
    top: 91px;
    background-color: #9095A1;
}

header {
    width: 635px;
    height: 88px;
    margin: 0 auto;
}

header h1 {
    color: #F2D95E;
    font-size: 64px;
    margin: 0;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 107px 97px 167px 97px;
}

section .content {
    background-color: #FFFFFF;
    width: 386px;
    height: 261px;
    padding: 23px;
    border: none;
    border-radius: 18px;
    margin-right: 44px;
    position: relative;
}

section .content:last-of-type {
    margin-right: 0;
}

section .content p {
    font-size: 18px;
    margin: 0;
}

section .bottom-right-content {
    position: absolute;
    bottom: 22px;
    right: 23px;
}

footer {
    border-top: 2px solid #F2D95E;
    width: 1246px;
    margin: auto;
}

footer .icons {
    width: 246px;
    height: 46px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    fill: #F2D95E;
}

footer .icons img {
    width: 46px;
    height: 46px;
}


@media screen and (max-width: 768px) {
    body {
        top: 77px;
    }

    header {
    width: 496px;
    height: 61px;
}

    header h1 {
        font-size: 50px;
    }

    section {
        display: block;
        margin: 67px 0 69px 170px;
    }

    section .content {
        margin-bottom: 46px;
        margin-right: 0;
    }

    section .content:last-child {
        margin-bottom: 0;
    }

    footer {
        width: 611px;
    }

    footer .icons {
        margin: auto;
        margin-top: 55px;
    }
}

@media screen and (max-width: 430px) {
    body {
        top: 44px;
    }

    header {
    width: 238px;
    height: 33px;
}

    header h1 {
        font-size: 24px;
    }

    section {
        display: block;
        margin: 37px 0 52px 40px;
    }

    section .content {
        margin-bottom: 24px;
        margin-right: 0;
        width: 231px;
        height: 156px;
    }

    section .content p {
    font-size: 11px;
}

    footer {
        width: 273px;
    }

    footer .icons {
        width: 154px;
        height: 28.8px;
        margin: auto;
        margin-top: 37px;
    }

    footer .icons img {
    width: 28.8px;
    height: 28.8px;
}
}

